:root {
  --navFont: hsl(0, 0%, 100%);
  --navBack: hsl(0, 0%, 24%);
  --firstLetter: hsl(43, 78%, 72%);
  --black: hsl(0, 0%, 0%);
  --yellow: yellow;
  --ff-Primary: Raleway, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  color: #555;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.BMI-container {
display:flex;
justify-content: center;

  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
 
}

.BMI-card {
  font-family:var(--ff-Primary);
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  color: var(--navFont);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: var(--navBack);
  /* background-image: url("https://img.freepik.com/vetores-gratis/design-de-fundo-escuro-abstrato-luxo-linhas-douradas_1017-24789.jpg?w=1380&t=st=1682265346~exp=1682265946~hmac=d53720df9baf042f77c5113c6c7edf77c66802069907777aa6ce4dc7d743563c"); */

  /* padding-top: 70px; */
  font-size: 18;
}


.BMI-form {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  border-radius: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label {
  margin-right: 10px;

  font-size: 18px;
}

input {
  padding: 6px;
  margin-right: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  
}

select {
  padding: 10px;
  margin-right: 10px;
  width: 80px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  
  color: var(--black);
  background-color: var(--navFont);
}

button {
  padding: 8px 20px;
  margin-top: 20px;
  font-size: 18px;
  
  border: 1px solid var(--navFont);
  border-radius: 5px;
  background:transparent;
  color: var(--navFont);
  cursor: pointer;
}

#result {
  margin-top: 20px;
  font-size: 18px;

}

#result p {
  color: var(--navFont);
}

.gender-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.gender-container label {
  margin-right: 10px;
}

.gender-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.gender-picker input[type="radio"] {
  display: none;
}

.gender-picker .gender-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--navFont);
  margin-right: 10px;
  position: relative;
  top: 1px;
  color: var(--black);

}

.gender-picker input[type="radio"]:checked + label .gender-icon {
  background-color: var(--black);
  border-color: var(--navFont);
  color: var(--navFont);
  background-color: var(--navFont);
}

.gender-picker .gender-label {
  font-size: 16px;
  color:var(--navFont);
}

.gender-picker label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}


.BMI-hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* background-image: url("http://127.0.0.1:5502/images/Background.jpg"); */
  background-size: cover;
  background-position: center;

  width:100%;

}

.hero {

  font-size: 2.2rem;
  position: absolute;
  color: var(--navFont);
  top: 10%;
  left: 10%;
  width: 560px;
}

.hero h1 {
  font-size: 24px;
  position: absolute;
  color: var(--navFont);
  top: calc(200px - 175px);
  left: calc(10% - 20px);
  z-index: 1;
}

.email {
  padding: 5x 20px;
  margin-right: 10px;
  width: 209px;
  height: 25px;
  border: none;
  border-radius: 1px;
  font-size: 14px;

}

.signup {

  height: 25px;
  font-size:14px ;
}

@media only screen and (max-width: 2000px) {
  .BMI-card {

    width: 45%;


  }

  .hero {

    width: 700px;

  }

  label {

    font-size: 24px;

  }

  .BMI-container h1 {

    font-size: 38px;
  

  }

  .BMI-container{

    width: 100%;
  }

  .BMI-form{

    width: 100%;
  }
}


@media only screen and (max-width: 1040px) {

  .hero {

    width: 600px;
  }

  label, #result {

    font-size: 18px;

  }

  #result p{

    font-size: 16px;
  }

  .BMI-container h1 {

    font-size: 28px;
  

  }

  .BMI-card {

    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

  }

  .hero {

    width: 80%;
  }

  .BMI-container{

    width: 100%;
  }

  .BMI-form{

    width: 100%;
  }

  .Primary-Footer{

    margin-top: 200px;
  }
}

@media only screen and (max-width: 580px) {

  html{

    width: 100%;
  }

  .body{

    width: 100%;
  }

  .BMI-card {

    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;


  }

  .hero {
    font-size: 2.2rem;
    position: absolute;
    color: var(--navFont);
    top: 10%;
    left: 0;
    width: 100%;
  }
  

  .BMI-container{

    width: 100%;
  }

  .BMI-container h1 {

    font-size: 24px;
    

  }


  .BMI-form{

    width: 100%;
  }

  .Primary-Footer{

    margin-top: 200px;
  }
}

@media only screen and (max-width: 450px) {

  html{

    width: 100%;
  }

  .body{

    width: 100%;
  }

  .BMI-card {

    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

  }

  .hero {
    font-size: 2.2rem;
    position: absolute;
    color: var(--navFont);
    top: 10%;
    left: 0;
    width: 100%;
  }
  

  .BMI-container{

    width: 100%;
  }

  label {

    font-size: 16px;

  }

  .BMI-container h1 {

    font-size: 20px;
  

  }

  select{

    width: 50px;
    font-size: 16px;
  }

  input {

    width: 50px;
    font-size: 16px;
  }

  .BMI-card button {

    font-size: 16px;
    text-align: center;

  }

  #result{

    font-size: 16px;
  }

  .BMI-form{

    width: 100%;
  }

  .Primary-Footer{

    margin-top: 200px;
  }
}

@media only screen and (max-width: 370px) {

  html{

    width: 100%;
  }

  .body{

    width: 100%;
  }

  .BMI-card {

    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;

  }

  .hero {
    font-size: 2.2rem;
    position: absolute;
    color: var(--navFont);
    top: 6%;
    left: 0;
    width: 100%;

  }
  

  .BMI-container{

    width: 100%;
  }

  label {

    font-size: 12px;

  }

  .gender-container{

    display: flex;
    flex-wrap: wrap;
  }

  .BMI-container h1 {

    font-size: 18px;
  

  }

  select{

    width: 50px;
    font-size: 10px;
  }

  input {

    width: 40px;
    font-size: 10px;
  }

  select {

    width: 40px;
    font-size: 10px;

  }

  .BMI-card button {

    font-size: 14px;
    text-align: center;


  }

  #result{

    font-size: 12px;

  }

  .BMI-form{

    width: 100%;
  }

  .Primary-Footer{

    margin-top: 300px;
  }
}