:root {
    --button-color: transparent;
    --button-border-color: white;
    --button-hover-color: rgb(249, 246, 246);
    --text-color: white; 
    --text-hover-color: #545454;
  }
  

.card {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 20px;
}

.card-img-top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-out;
    transform: rotateX(-180deg);
}

.card:hover .card-img-top {
    transform: scale(1.1);
    opacity: 1;

}


.card-img-top{
    filter: blur(3px);
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
    
}

.card-title, .card-text{
    color: var(--text-color) !important;
}


.btn-primary {
    background-color: var(--button-color) !important;
    border-color: var(--button-border-color) !important;
    -webkit-transition: ease-out 0.4s !important;
    -moz-transition: ease-out 0.4s !important;
    transition: ease-out 0.4s !important;
}


.btn-primary:hover {
    box-shadow: inset 400px 0 0 0 var(--button-hover-color) !important;
    color:var(--text-hover-color) !important;
}


