@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap');

:root {
  --navFont: hsl(0, 0%, 100%);
  --navBack: hsl(0, 0%, 24%);
  --firstLetter: hsl(43, 78%, 72%);
  --black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

}

body {
  scroll-behavior: smooth;
  transition: ease-in-out 200ms;
  /* overflow: hidden; */
}

.Container {
  display: none;

}

.Label-Check {
  display: flex;
}

.hamburger-label {

  width: 70px;
  height: 38px;
  padding: 0;
  display: block;
  cursor: pointer;
}

.hamburger-label div {

  width: 30px;
  height: 2px;

  background-color: var(--navFont);
  position: absolute;
  top: 1%;

}

.line1 {
  transition: all .3s;
}

.line2 {
  margin: 8px 0 0 0;
  transition: 0.3s;
}

.line3 {
  margin: 16px 0 0 0;
  transition: 0.3s;
}

#Label-Check:checked+.hamburger-label .line1 {
  transform: rotate(46deg) scaleX(.55) translate(39px, -3.5px);
  border-radius: 50px 50px 50px 0;

}

#Label-Check:checked+.hamburger-label .line3 {
  transform: rotate(-46deg) scaleX(.55) translate(39px, 3.5px);
  border-radius: 0 50px 50px 50px;

}

#Label-Check:checked+.hamburger-label .line2 {

  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 0px;

}

.Primary-Header {
  background-image: url("https://images.pexels.com/photos/2294403/pexels-photo-2294403.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  font-family: Raleway, sans-serif;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;

}

h1::first-letter {
  color: var(--firstLetter);

}

.Primary-Header-Content {
  font-size: 1.2rem;
  color: var(--navFont);
  margin: 14px;
}

.Primary-Navbar {
  backdrop-filter: blur(5rem);

  border-radius: 10px;
  height: 30px;
  margin: 14px;
  font-weight: 400;
}

.Primary-Navbar-Link {
  text-decoration: none;
  color: var(--navFont);
  margin-inline: 5px;
}

.Primary-Navbar-Link:hover {
  text-decoration: underline;
  text-decoration-color: var(--firstLetter);
  text-underline-offset: 2px;
}

.hero h1 {
  font-size: 2.2rem;
  position: absolute;
  color: var(--navFont);
  top: 40%;
  left: 10%;
}

.para {
  position: absolute;
  font-size: 1.2rem;
  color: var(--navFont);
  top: 48%;
  left: 10%;

}



.Get-Started {
  position: absolute;
  top: 58%;
  left: 10%;
  margin: 10px;
  background: transparent;
  border: 1px solid var(--navFont);
  color: var(--navFont);
  padding: 10px 30px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.Get-Started:hover {
  color: var(--navBack);
}

.Get-Started::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 246, 246);

  transform: translateX(-100%);
  transition: ease-in-out .3s;
  z-index: -1;
}

.Get-Started:hover::before {
  transform: translateX(0);

}

.paragraph {
  font-size: 1.2rem;
  padding: 4px;
  line-break: auto;
  background-color: var(--navBack);
  color: var(--navFont);
}

.content {
  height: 80vh;
  /* background-color: darkgrey; */
  /* width:80%; */
  margin: 50px;


}

.container-workout {
  background-image: url(".././images/pexels-anush-gorak-1431282.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30%;
  height: 40%;
  border-radius: 10px;

}

.Main-Workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;

}

.Main-Workout:hover {

  backdrop-filter: blur(6px);
  transition: ease-in-out 400ms;
}

.Get-workout {
  position: relative;
  margin: 10px;
  background: transparent;
  border: 1px solid var(--navFont);
  color: var(--navFont);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;

}

.Get-workout:hover {
  color: var(--navBack);
}

.Get-workout::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(249, 246, 246);

  transform: translateX(-100%);
  transition: ease-in-out .3s;
  z-index: -1;
}

.Get-workout:hover::before {
  transform: translateX(0);

}

.Upper-Body {
  margin: 10px;

  z-index: 1111;
  color: var(--navFont);
}

.Upper-text {
  color: var(--navFont);
  margin: 10px;
  font-size: 1rem;

}
.Logo-Main{
  margin-inline: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  /* flex-direction: row; */
  /* flex-wrap: wrap; */

}
.imageee {
  /* flex:1; */
  object-fit: contain;
  width:40%;
  height:100%;
  margin: auto;
 

  position: absolute;
  top:100%;
  left:50%;
}

.footer-body{
  background-color: darkgray;
  
}

.card-footer{
  padding: 0px !important;
}

.card-footer h5{
  font-size: 20px;
  padding: 5px;
  color: var(--navFont);
}

.card-footer h6 {
  font-size: 20px;
  padding: 5px;
  color: var(--navFont);
}

#instagram {
  width:35px;
  height: 35px;
}

#twitter {
  width: 35px;
  height: 35px;
}

#facebook {
  width: 35px;
  height: 35px;
}

.card-footer h7 {
  font-size: 20px;
  padding: 5px;
  color: var(--navFont);
}

.footer-body a {
  text-decoration: none !important;
  color: var(--navFont);
  padding: 5px;
  justify-content: space-between;
  line-height: 1.5;
}

@media only screen and (max-width:1000px) {
  .hero h1 {
    top: 30%;
  }

  .Get-Started {
    top: 40%;
  }

  .para {
    top: 35%;
  }
}

@media only screen and (max-width:800px) {
  .content {
    display: flex;
    background-color: darkgrey;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }

.Logo-Main{
  display: none;
}
  .Container {
    display: flex;
    margin: 0;


  }

  .hero h1 {
    font-size: 1.8rem;
    top: 43%;
    left: 8%;

  }

  .para {
    font-size: 1em;
    left: 8%;
  }

  .Get-Started {
    top: 54%;
    left: 7%;

  }

  .Label-Check {
    display: none;
    position: absolute;
    top: 3%;
    left: 90%;
    width: 2rem;
    aspect-ratio: 1;

  }

  .hamburger-label {

    width: 70px;
    height: 38px;
    padding: 0;
    display: block;
    cursor: pointer;

    margin-inline: 20px;
  }

  .hamburger-label div {

    width: 30px;
    height: 2px;

    position: absolute;
    top: 2%;
    left: 90%;
    z-index: 9999;

  }

  .line1 {
    transition: all .3s;
  }

  .line2 {
    margin: 8px 0 0 0;
    transition: 0.3s;
  }

  .line3 {
    margin: 16px 0 0 0;
    transition: 0.3s;
  }

  #Label-Check:checked+.hamburger-label .line1 {
    transform: rotate(46deg) scaleX(.55) translate(39px, -3.5px);
    border-radius: 50px 50px 50px 0;

  }

  #Label-Check:checked+.hamburger-label .line3 {
    transform: rotate(-46deg) scaleX(.55) translate(39px, 3.5px);
    border-radius: 0 50px 50px 50px;

  }

  #Label-Check:checked+.hamburger-label .line2 {

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 0px;

  }

  .Primary-Header {
    background-image: url("https://images.pexels.com/photos/2294403/pexels-photo-2294403.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-position: center;
    object-fit: cover;
    height: 100vh;

  }


  .Primary-Navbar[Data-Visible="false"] {
    display: none;

  }

  .Primary-Navbar {
    display: flex;
    margin: 0;
    z-index: 1111;
    flex-direction: column;
    margin: 10px;
    height: 80vh;
    padding: min(18vh, 8rem) 1em;



    backdrop-filter: blur(5rem);


  }

  .Primary-Navbar-Link:hover {
    text-decoration: underline;
    text-decoration-color: var(--firstLetter);
    text-underline-offset: 2px;
  }

  .Primary-Navbar-Link {
    /* color: black; */
    padding: 8px;
    font-size: 1.2em;

  }
  .Upper-Body{
    font-size:16px;
  }
  .Upper-text{
    font-size:12px;
  }
  .Get-workout{
    padding:5px 10px;
  }
}

@media only screen and (max-width:415px) {
  .Primary-Navbar {
    height: 80vh;
    transform: translateX(-15%);
    padding: min(18vh, 3rem) 1em;

  }

  .hamburger-label div {
    left: 85%;
  }

  .Primary-Navbar-Link {
    font-size: 1em;
  }

  .hero h1 {
    top: 43%;
    font-size: 1.5em;
  }

  .para {
    top: 50%;
    font-size: 1em;

  }

  .Get-Started {
    top: 63%;
    left: 7%;

  }
}

@media only screen and (max-width:376px) {
  .Primary-Navbar {
    transform: translateX(-29%);
  }
}

@media only screen and (max-width:285px) {
  .Primary-Navbar {
    transform: translateX(-85%);

  }

  .hero h1 {}

  .para {
    top: 53%;

  }

  .Get-Started {
    top: 69%;
    left: 7%
  }
}